.TaskCard:hover {
    background-color: aquamarine;
   
	transform: scale(1.18);

    
}

.TaskCard{
    margin-left:60px;
}

.DoneButton:hover {

	transform: scale(1.20);

}

.DeleteButton:hover {

	transform: scale(1.20);
    
}

